SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# 1H — every hour
0 * * * * root /usr/local/bin/cronjob.sh 1h >> /var/log/cron.log 2>&1

# 4H — every 4 hours
0 */4 * * * root /usr/local/bin/cronjob.sh 4h >> /var/log/cron.log 2>&1

# 1D — once per day
0 19 * * * root /usr/local/bin/cronjob.sh 1d >> /var/log/cron.log 2>&1

# 1W — Friday
0 12 * * 5 root /usr/local/bin/cronjob.sh 1w >> /var/log/cron.log 2>&1
